[submodule "maua/submodules/spynet"]
	path = maua/submodules/spynet
	url = https://github.com/sniklaus/pytorch-spynet.git
[submodule "maua/submodules/pwc"]
	path = maua/submodules/pwc
	url = https://github.com/sniklaus/pytorch-pwc.git
[submodule "maua/submodules/unflow"]
	path = maua/submodules/unflow
	url = https://github.com/sniklaus/pytorch-unflow.git
[submodule "maua/submodules/liteflownet"]
	path = maua/submodules/liteflownet
	url = https://github.com/sniklaus/pytorch-liteflownet.git
[submodule "maua/submodules/CLIP"]
	path = maua/submodules/CLIP
	url = https://github.com/openai/CLIP
[submodule "maua/submodules/VQGAN"]
	path = maua/submodules/VQGAN
	url = https://github.com/CompVis/taming-transformers
[submodule "maua/submodules/FrozenInTime"]
	path = maua/submodules/FrozenInTime
	url = https://github.com/m-bain/frozen-in-time.git
[submodule "maua/submodules/ranger"]
	path = maua/submodules/ranger
	url = https://github.com/lessw2020/Ranger-Deep-Learning-Optimizer/
[submodule "maua/submodules/ic_gan"]
	path = maua/submodules/ic_gan
	url = https://github.com/facebookresearch/ic_gan.git
[submodule "maua/submodules/guided_diffusion"]
	path = maua/submodules/guided_diffusion
	url = https://github.com/crowsonkb/guided-diffusion
[submodule "maua/submodules/RealESRGAN"]
	path = maua/submodules/RealESRGAN
	url = https://github.com/xinntao/Real-ESRGAN
[submodule "maua/submodules/BSRGAN"]
	path = maua/submodules/BSRGAN
	url = https://github.com/cszn/BSRGAN
[submodule "maua/submodules/SwinIR"]
	path = maua/submodules/SwinIR
	url = https://github.com/JingyunLiang/SwinIR
[submodule "maua/submodules/NIMA"]
	path = maua/submodules/NIMA
	url = https://github.com/kentsyx/Neural-IMage-Assessment.git
[submodule "maua/submodules/ru_dalle"]
	path = maua/submodules/ru_dalle
	url = https://github.com/neverix/ru-dalle
[submodule "maua/submodules/v_diffusion"]
	path = maua/submodules/v_diffusion
	url = https://github.com/crowsonkb/v-diffusion-pytorch.git
[submodule "maua/submodules/latent_diffusion"]
	path = maua/submodules/latent_diffusion
	url = https://github.com/CompVis/latent-diffusion.git
[submodule "maua/audio"]
	path = maua/audio
	url = https://github.com/maua-maua-maua/audio
[submodule "maua/GAN"]
	path = maua/GAN
	url = https://github.com/maua-maua-maua/GAN
[submodule "maua/submodules/minDALLE"]
	path = maua/submodules/minDALLE
	url = https://github.com/kakaobrain/minDALL-E.git
[submodule "maua/submodules/waifu2x"]
	path = maua/submodules/waifu2x
	url = https://github.com/yu45020/Waifu2x.git
