av
decord
gdown
git+https://github.com/pytorch/nestedtensor
torch==1.10.1
torchvision
requests
scipy
librosa
madmom
ffmpeg-python
openunmix
joblib
matplotlib
scikit-learn
npy-append-array
more_itertools
transformers
ftfy
omegaconf
youtokentome
-e submodules/CLIP