auraloss
av
basicsr
black
click
cupy-cuda113==9.6
decord
dill
effortless_config
einops
ffmpeg_python
ftfy
gdown
git+https://github.com/caillonantoine/cached_conv.git#egg=cached_conv
git+https://github.com/caillonantoine/UDLS.git#egg=udls
git+https://github.com/lessw2020/Ranger-Deep-Learning-Optimizer
git+https://github.com/lessw2020/Ranger21
git+https://github.com/NVIDIA/apex
git+https://github.com/pathak22/pyflow
git+https://github.com/pytorch/nestedtensor
glumpy
gputil
h5py
imageio_ffmpeg
joblib
kornia
librosa
lpips
madmom
matplotlib
more_itertools
ninja
npy_append_array
numba
numpy==1.20.1
omegaconf
openunmix
pandas
prdc
py7zr
pyglet
pyopengl
pyspng
pytest
pytorch_lightning
PyYaml
requests
resampy
scikit_learn
scipy
seaborn
sentencepiece
sklearn
soundfile
tensorboard
tensorboardX
termcolor
timm
torch
torch_optimizer
torch==1.10.1
torchaudio
torchcrepe
torchvision
tqdm
transformers
unidecode
wandb
youtokentome
-e maua/submodules/CLIP
-e maua/submodules/RealESRGAN