av
basicsr
click
decord
ffmpeg-python
ftfy
gdown
git+https://github.com/pytorch/nestedtensor
git+https://github.com/pathak22/pyflow
git+https://github.com/lessw2020/Ranger-Deep-Learning-Optimizer
git+https://github.com/lessw2020/Ranger21
h5py
imageio-ffmpeg
joblib
kornia
librosa
lpips
madmom
matplotlib
more_itertools
ninja
npy-append-array
omegaconf
openunmix
pandas
prdc
py7zr
pyspng
PyYaml
requests
scikit-learn
scipy
seaborn
sentencepiece
sklearn
timm
torch==1.10.1
torchvision
tqdm
transformers
wandb
youtokentome
-e maua/submodules/CLIP
-e maua/submodules/RealESRGAN