**.code-workspace
**.pyc
**/pycache
.vscode/
workspace/*
workspace/audio_cache/*
patches/*
!patches/examples/
!patches/base/
!workspace/Wavefunk - Dwelling in the Kelp.mp3
!workspace/Wavefunk - Tau Ceti Alpha.mp3
!workspace/Wavefunk - Temper.mp3
!workspace/audio_cache/
!workspace/audio_cache/.gitkeep
!sketches/__init__.py
!sketches/examples/
!sketches/examples/default.py
